mixin nav(active)
    nav.main_bg
        .container.mx-auto
            .flex.flex-wrap.wrapper
                .logo.flex.flex-grow.items-center.justify-center.my-2.px-2(class="md:my-0 md:flex-grow-0")
                    h1.text-white.font-bold.text-2xl عاملة كام؟

                .links.flex-grow.flex.items-center.flex-wrap(class="justify-center md:justify-end")
                    ul.inline-block
                        li.inline-block(class=active[0])
                            a(href="index.html") الرئيسية
                        li.inline-block(class=active[1])
                            a(href="#") اشتري
                        li.inline-block(class=active[2])
                            a(href="sell.html") بيع
                        li.inline-block(class=active[3])
                            a(href="#") كيفية الاستخدام 
                        li.inline-block(class=active[4])
                            a(href="#") المدونة
                    a.btn.mr-5(href="sell.html" class="mt-4 mb-2 md:my-0") اعلن عن عربيتك