mixin textInput(label, placeholder)
    .input.px-2.my-2(class="w-full md:w-1/2 lg:w-1/3 ")
        p.my-2.font-bold.title(class="m-2")=label
        .x.flex-grow
            input(type="text", placeholder=placeholder)
            p.help-block.help 
            
mixin select(label,selectName, selectPlaveholder,options)
    div(class="w-full md:w-1/2 lg:w-1/3  my-2 px-2")
        label(for=selectName class="my-2 inline-block font-bold title pl-2")=label
        div(data-wrapper=selectName)
            select(name=selectName, id=selectName, class="w-full ")&attributes(attributes)
                - for (let i= 0; i< options.length; ++i){
                    option=options[i]
                -   }
        p.help-block.help  

mixin multiSelect(label,selectName, options)
    div(class="w-full my-2 px-2")
        label(for=selectName class="font-bold text-xl color inline-block mb-2")=label
        div(data-wrapper=selectName)
            select(name=selectName, id=selectName, class="w-full " , multiple)&attributes(attributes)
                - for (let i= 0; i< options.length; ++i){
                    option=options[i]
                -   }
        p.help-block.help  
